{{#each items}}
    <article class="col-xs-12 col-sm-12 col-md-6 col-lg-4 plp-item clearfix">
        <img class="img-responsive plp-item-image" src="{{items.prod_img}}" alt="{{items.prod_name}}">
        <div class="plp-item-info">
            <span class="plp-item-title">{{items.prod_name}}</span>
            <br/>
            <span class="plp-item-price"><i class="fas fa-rupee-sign"></i>{{items.prod_price}}</span>
            <br/>
            <span class="plp-item-rating">Rating : {{items.prod_rating}}/5</span>
            <br/>
            <button class="btn btn-success plp-item-addbtn">Add to Cart</button>
        </div>
    </article>
{{/each}}